@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html {
  background-color: #F5F5EF;
  font-family: "Medium 500", montserrat;
}

/* cabeçario */

.header {
  padding: 1px;
  text-align: center;
  background: #2C8AB2;
  color: #F5F5EF;
  font-size: 20px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
